.footer {
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.nav-link {
  color: white;
}
.nav-item.mb-2 .nav-link.link-f-color {
  color: white;
}
.nav-item.mb-2 .nav-link.link-f-color:hover {
  color: black;
}
a .fa-brands,
.fa-solid {
  color: white;
  font-size: 25px;
}
.news {
  font-size: 12px;
}
